<div class="login-container background">
  <div class="container has-text-centered is-vcentered is-flex is-justify-content-center">
    <div class="columns">
      <div class="column">
        <div>
          <h2 class="title has-text-black">Register</h2>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="field">
            <label class="label has-text-black">Email:</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="email@example.com" formControlName="email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label has-text-black">Password:</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="password" placeholder="********" formControlName="password"
                [class.is-error]="">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>

          <button class="is-primary button" type="submit" [disabled]="registerForm.invalid">Register</button>
        </form>
        <div *ngIf="message" class="message">{{ message }}</div>
      </div>
    </div>
  </div>

</div>