<div class="login-container background">
    <div class="container has-text-centered is-vcentered is-flex is-justify-content-center" vocab="https://schema.org/">
        <div class="columns">
            <div class="column">
                <h3 class="title is-3">Languages for Framework</h3>

                <h4 class="subtitle is-4">Enter a programming language and find what frameworks use it</h4>

                <div class="input-section">
                    <div class="box">
                        Choose the programming language

                        <p *ngIf="keywords.length === 0">Loading keywords...</p>

                        <div class="radio-group grid gap" typeof="https://schema.org/ItemList">
                            <div *ngFor="let keyword of keywords; let i = index" class="radio-item cell"
                                typeof="SoftwareSourceCode" property="itemListElement">
                                <input type="radio" [value]="keyword" [(ngModel)]="selectedKeyword" id="radio-{{i}}">
                                <label for="radio-{{i}}" property="programmingLanguage">
                                    <a [routerLink]="['/one-concept-page']" [queryParams]="{ uri: keyword_links[i] }">
                                        {{ keyword }}
                                    </a>
                                </label>
                            </div>
                        </div>
                    </div>

                    <button class="button is-primary mt-5" (click)="searchLanguage()"
                        [disabled]="keywords.length === 0">Submit
                    </button>
                </div>

                <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

                <div class="result-section" *ngIf="jsonResponse">
                    <div class="box mt-5">
                        <h3>Result: All the frameworks for language {{current_chosen_keyword}}</h3>
                    </div>
                    <div class="container has-text-centered is-vcentered is-flex is-justify-content-center">
                        <table class="table is-striped">
                            <thead>
                                <tr>
                                    <th>Class Type</th>
                                    <th>Instance</th>
                                </tr>
                            </thead>
                            <tbody typeof="https://schema.org/ItemList">
                                <tr *ngFor="let link of jsonResponse" typeof="https://schema.org/SoftwareApplication"
                                    property="itemListElement">
                                    <td>
                                        <a [routerLink]="['/one-concept-page']"
                                            [queryParams]="{ uri: 'http://example.org/Framework' }"
                                            property="applicationCategory">
                                            {{ extractName('http://example.org/Framework') }}
                                        </a>
                                    </td>
                                    <td>
                                        <div typeof="https://schema.org/SoftwareSourceCode">
                                            <meta property="programmingLanguage" content="{{ current_chosen_keyword }}">
                                            <a [routerLink]="['/one-concept-page']" [queryParams]="{ uri: link }"
                                                property="name">
                                                {{ extractName(link) }}
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>